@model IEnumerable<DoAnKiSu_ThuVien.Context.PhieuMuon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngay_muon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_tra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tien_phat_sinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocGia.MSSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sach.ten_sach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_muon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_tra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tien_phat_sinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocGia.MSSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.ten_sach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
